<div id="message-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <h4>Message</h4>
      <% byebug %>
      <%= form_for [@ticket, @ticket_message], remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.text_area :content, autofocus: true, placeholder: "Enter new message...", class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <%= f.submit "Save", class: "btn btn-primary btn-sm pull-right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

