<div class="row">
  <div class="col-md-12">
    <h4>New Message</h4>

    <%= form_for [@ticket, TicketMessage.new], html: { class: "form-horizontal" } do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "Enter new message...", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary btn-sm pull-right" %>
      </div>
    <% end %>
  </div>
</div>

